<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>webdrivertest</td><td>Driver.chromeDriver()[pri:0, instance:com.mainMethod.Driver@179ece50]<br/></td></tr>
</table>
